html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 90px;
}
.padded {
    padding-top: 30px;
}
.footer {
    color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 90px;
    background-color: #fff;
    padding-top: 20px;
}

#logo{
    color: black;
    font-size: 4em;
    padding-top: 80px;
}